<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <header>
        <h1><%= playlist.playlistName %></h1>
        <h2>Genre: <%= playlist.genre %></h2>
    </header>
    
    <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <div>
            <label for="playlistName">Playlist Name:</label>
                <input type="text" name="playlistName" value="<%= playlist.playlistName %>">
        </div>
        <div>
            <label for="genre">Genre:</label>
                <select name="genre">
                    <option><%= playlist.genre %></option>
                    <% if (playlist.genre !== 'R&B') { %>
                        <option value="R&B">R&B</option>
                    <% } %>
                    <% if (playlist.genre !== 'Rock') { %>
                        <option value="Rock">Rock</option>
                    <% } %>
                    <% if (playlist.genre !== 'Jazz') { %>
                        <option value="Jazz">Jazz</option>
                    <% } %>
                    <% if (playlist.genre !== 'Pop') { %>
                        <option value="Pop">Pop</option>
                    <% } %>
                    <% if (playlist.genre !== 'Country') { %>
                        <option value="Country">Country</option>
                    <% } %>
                </select>
        </div>
        <input type="submit" value="Save Info">
    </form>
            <section>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Link</th>
                    <th>Edit</th>
                </tr>
                <% playlist.song.forEach((song) => { %>
                    <tr>
                        <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
                            <td>
                                <label for="songName"></label>
                                <input type="text" name="songName" value="<%= song.songName %>">
                            </td>
                            <td>
                                <label for="artist"></label>
                                <input type="text" name="artist" value="<%= song.artist %>">
                            </td>
                            <td>
                                <label for="album"></label>
                                <input type="text" name="album" value="<%= song.album %>">
                            </td>
                            <td>
                                <label for="link"></label>
                                <input type="text" name="link" value="<%= song.link %>">
                            </td>
                            <td>
                                <input type="submit" value="Save Songs">
                            </td>
                        </form>
                    </tr>
                <% }) %>
            </table>
    </section>
    <button><a href="/playlists/<%= playlist._id %>">Save Playlist</a></button>
    <section>
        <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Playlist">
        </form>
    </section>
    
</body>
</html>