<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Music</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <header>
        <h1><%= playlist.playlistName %></h1>
        <h2>Genre: <%= playlist.genre %></h2>
    </header>
    
    <section>
        <table>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
            <% playlist.song.forEach((song) => { %>
                <tr>
                        <td>
                            <a <% if(song.link !== '') { %>
                            href="<%= song.link %>" target="_blank"><%= song.songName %></a>
                            <% } else {%> 
                                <td><%= song.songName %></td>
                            <% } %>
                        </td>
                        <td><%= song.artist %></td>
                        <td><%= song.album %></td>
                </tr>
            <% }) %>
        </table>
    </section>

    <section>
        <!-- <a href="/playlists/<%= playlist._id %>/edit"> -->
            <!-- <button>Edit</button> -->
        <!-- </a> -->
        <button><a href="../songs/new">Add Songs</a></button>
        <form action="/playlists/<%= playlist._id %>/edit" method="GET">
            <input type="submit" value="Edit Playlist">
        </form>
    </section>
    
</body>
</html>